body{
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  color: #292B2C;
}

*{
  box-sizing: border-box;
  user-select: none;
}

.flxCntr{
  display: flex;
  align-items: center;
  justify-content: center;
}

.italic{
  font-style: italic;
}

.center{
  text-align: center;
}