@import 'base-colors';

.btn{
  background-color: $accentColor;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;

  &.disabled{
    background-color: #cecece;
    pointer-events: none;
    cursor: default;
  }
}