.library{
  background-color: #d2d2d2;
  padding: 25px;
  height: 100%;
  min-width: 200px;

  .title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  .elem{
    cursor: pointer;
    padding: 5px 0;
  }
}