@import 'base-colors';

editor-navbar{
  .navbar{
    padding: 7px 14px;
    background-color: $primaryColor;
    text-align: center;
    color: white;

    .title{
      cursor: pointer;
      line-height: 30px;
      font-size: 20px;
      font-weight: 300;

      .fa-pencil{
        margin-left: 5px;
        visibility: hidden;
      }

      &:hover{
        .fa-pencil{
          visibility: visible;
        }
      }
    }
  }
}