editor{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .navbar{
    flex: 0;
  }
  msg-helper{
    flex: 1;
  }
  .editor{
    flex:1;
    display: flex;
    project-assets{
      flex: 0;
    }
    .mainContainer{
      flex: 1;
      position: relative;
      background-color: #b6b7b7;
      text-align: center;
    }
  }

  footer{
    flex: 0;
    display: block;
    height: 100px;
  }
}