@import 'base-colors';

.blur{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(58, 58, 58, 0.48);
  z-index: 50;
}

.popupContainer{
  z-index: 75;
  min-width: 80%;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  max-width: 90vw;

  .header, .content, .footer{
    padding: 15px;
  }

  .header{
    background-color: $primaryColor;
    color: white;

    .fa{
      float: right;
    }
  }

  .footer{
    text-align: right;
    .btn{
      margin-left: 5px;
    }
  }
}