.terrain{
  background-image: url("/dist/img/backgrounds/unknown.jpg");
  width: 500px;
  height: 500px;
  position: relative;
  transition: bottom  0.25s linear, right 0.25s linear;

  &.change{
    transition: none;
  }
}